body {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif, roboto;
}

input {
    border-radius: 5px;
    padding-left: 10px;
}

input:focus {
    border-radius: 25px;
    /* outline-width: 0; */
    outline: none;
    padding-left: 10px;
    background: rgba(25, 25, 25, 0.2);
    color: white;
}